body {
    background-image: none;
}

.contact-whole {
    text-align: center;
}

.contact-title-div {
    font-size: 20px;
    padding-top: 5vh;
    color: rgb(233, 155, 135);
}

input[type=text], select, textarea {
    width: 30%; /* Full width */
    padding: 5px; /* Some padding */ 
    border:none;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: none;
    background-color: rgb(250, 226, 198);
    color:#291f1e;
    font-size: 15px;
}

input[type=submit] {
    background-color:  #ee5651;
    color: #291f1e;
    font-size: 15px;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}