* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #291f1e;
    background-image: url("cover.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
}

header {
    display: flex;
    background: #493836;
    height: 12vh;
    align-items: center;
}

.web-title, .nav-links {
    display: flex;
}

.web-title {
    flex: 1;
    color: #ee5651;
    font-size: 19px;
    margin-left: 2%;
}

nav {
    flex: .5;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
    margin-right: 3%;
}

.nav-link {
    color: rgb(233, 155, 135);
    text-decoration: none;
    font-size: 18px;
    justify-content: flex-end;
    padding-left: 10px;
}

.nav-link:hover {
    color:  #ee5651;
}

footer {
    background: #493836;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    color: #ee5651;
    padding: 15px;
}


